.topnav {
    width: 100%;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
    background-color: black ;
    text-align: center;
}

.topnav span {
    float: none;
    color: #e0b113;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 30px;
    line-height: 0.5;
    display: inline-block;
    vertical-align: middle;
}
  
.topnav span:hover {
    color: #947204;
}


.scratchpad {
    width: 540px;
    height: 800px;
    border: solid 10px #ffffff;
    margin: 0 auto;
}

.scratch-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}

.promo-container {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 450px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans', Arial,Sans-serif;
    color: #333;
    font-size: 16px;
    margin-top: 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
    padding: 60px;
}

th, td {
    padding: 60px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.d1 {
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
}


